@import './base.css';

#app {
  background: url('./images/bg-mobile-light.jpg') no-repeat;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 33.75rem;
  margin-inline: auto;
  padding: 48px 24px 72px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 20px;
  height: 20px;
}
