@import './base.css';

#app {
  background: url('./images/bg-mobile-light.jpg') no-repeat center top/contain;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 33.75rem;
  margin-inline: auto;
  padding: 48px 24px 72px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 20px;
  height: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.oval {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}
